[submodule "project1"]
	path = project1
	url = https://github.com/jojonium/cs-534-project-1.git
[submodule "project2"]
	path = project2
	url = https://github.com/jojonium/cs-534-project-2.git
[submodule "project3"]
	path = project3
	url = https://github.com/jojonium/cs-534-project-3.git
